<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">    <title>Random</title>
</head>
<body>

  <style>
    .center{
      margin: 0 auto;
      display: flex;
    }
    .search_button{
      position: relative;
      left: 5px;
    }
  </style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <a class="navbar-brand" href="{{ .Domain }}all/1">Все шутки</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" action="{{ .Domain }}all/1?search=">
      <input class="form-control me-sm-2" type="text" placeholder="Search" name="search">
      
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
</nav>
      {{ if .IsNothingToSearch }}
        <p>Неудалось найти шутки</p>
      {{ end }}
      
      {{ range .RandJokes }}
      
      {{ if ne .Body ""}}
      <br>
      <div class="card border-secondary mb-3 center" style="max-width: 20rem;" >
        <div class="card-header">Шутка</div>
        <div class="card-body">
          <h4 class="card-title">{{.Title}}</h4>
          <p class="card-text">{{.Body}}</p>
        </div>
      </div>
      {{ end }}

      {{ end }}
      
      {{ if eq .Search ""}}
        <div class="center">
          <ul class="pagination pagination-lg center">
            {{ if eq .CurrentPage 1 }}
            <li class="page-item disabled">
              <a class="page-link" href="{{ .Domain }}all/{{ .PreviousPage }}">&laquo;</a>
            </li>
            {{ else }}
            <li class="page-item">
              <a class="page-link" href="{{ .Domain }}all/{{ .PreviousPage }}">&laquo;</a>
            </li>
            {{ end }}

            {{ if .IsLast}}
            <li class="page-item disabled">
              <a class="page-link " href="{{ .Domain }}all/{{ .NextPage }}">&raquo;</a>
            </li>
            {{ else }}
            <li class="page-item">
              <a class="page-link" href="{{ .Domain }}all/{{ .NextPage }}">&raquo;</a>
            </li>
            {{ end }}
      {{ else }} 
     
      <div class="center">
        <ul class="pagination pagination-lg center">
          {{ if eq .CurrentPage 1 }}
          <li class="page-item disabled">
            <a class="page-link" href="{{ .Domain }}all/{{ .PreviousPage }}?search={{ .Search }}">&laquo;</a>
          </li>
          {{ else }}
          <li class="page-item">
            <a class="page-link" href="{{ .Domain }}all/{{ .PreviousPage }}?search={{ .Search }}">&laquo;</a>
          </li>
          {{ end }}

          {{ if .IsLast}}
          <li class="page-item disabled">
            <a class="page-link " href="{{ .Domain }}all/{{ .NextPage }}?search={{ .Search }}">&raquo;</a>
          </li>
          {{ else }}
          <li class="page-item">
            <a class="page-link" href="{{ .Domain }}all/{{ .NextPage }}?search={{ .Search }}">&raquo;</a>
          </li>
          {{ end }}
      {{ end }}
        </ul>
      </div>

      <footer>
        <br>
      </footer>
</body>
</html>





